# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/
env/

# VSCode
.vscode/

# YOLO training results
runs/

# Datasets
dataset_bruto/
dataset_yolo/
dataset_download/

# Captures and logs
captures/
logs/

# Models
*.pt

# OS files
.DS_Store
Thumbs.db