<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Relatórios - CamCore</title>
  <link rel="icon" href="{{url_for('static', filename= 'imagens.img/Logo.png')}}" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio.css') }}">
</head>

<body>

    <header class="navbar">

    <div class="logo-area">
        <img src="{{ url_for('static', filename='imagens.img/Logo.png') }}" class="logo-icon">
        <span class="logo-text">CamCore</span>
    </div>

    <nav class="menu-desktop" id="menuDesktop">
        <a href="{{ url_for('sistema') }}" class="btn-inicio">Câmera</a>
        <a href="{{ url_for('logout') }}" class="btn-sair">Sair</a>
    </nav>

    <div class="menu-toggle" id="menuToggle">
        ☰
    </div>

</header>

  <section class="relatorios-container">
    <div class="cabecalho-relatorio">
      <h2>Relatório de Violações (EPI)</h2>
      <p id="total-alertas">Carregando dados...</p>
    </div>

    <div class="filtros-container">
      <button class="filtro-btn active" data-periodo="hoje">Hoje</button>
      <button class="filtro-btn" data-periodo="semana">Esta Semana</button>
      <button class="filtro-btn" data-periodo="mes">Este Mês</button>
    </div>

    <div class="alertas-grid" id="gridAlertas">
      </div>
  </section>

  <script src="{{url_for('static', filename='js/relatorio.js')}}"></script>
</body>
</html>